<% provide(:title, "Password sent!") %>
<div class="row">
	<div class="col-md-5 col-md-offset-4" id="login-panel">
		<div class="panel panel-info">
			<div class="panel-heading">Password reset confirmation sent!</div>
			<div class="panel-body">
				<p>
					We’ve sent you an email containing a link that will allow you to reset your password for the next 24 hours.Please check your spam folder if the email doesn’t appear within a few minutes.
				</p>
				<%= link_to "Return to sign in", login_path %>
			</div>
		</div>
	</div>
</div>
