<% provide(:title, "Application page") %>
<div>
	<h1>特會報名</h1>
</div>

<div>
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">單個報名</a></li>
		<li role="presentation" ><a href="#">團體報名</a></li>
		<li role="presentation" ><a href="#">繳納款項</a></li>
		<li role="presentation" ><a href="#">報名資料確認</a></li>
	</ul>
</div>
<div class="single-application application-page" id="single-application">

</div>
<div class="group-application application-page" id="group-application">
	
</div>
<div class="donate-application applcation-page" id="donate-application">
	
</div>
<div class="confirm-application application-page" id="confirm-application">
	
</div>
