<% provide(:title, 'Announcement') %>
<div>
<h1>特會通啟</h1>
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">中文</a></li>
		<li role="presentation" ><a href="#">English</a></li>
		<li role="presentation" ><a href="#">台灣眾召會</a></li>
	</ul>
<div>

<p>相隔三年，主後二○一五年的國際華語特會，將再次於臺灣舉行。謹此通知臺灣眾召會的聖徒們，一同進入主現今的說話，有分於主當前的行動。特別鼓勵各地召會青職、大學、青少年的聖徒們踴躍赴會。願主藉著這次特會，再次新鮮的對我們說話，俾使祂的定旨在眾召會中更加往前。</p>

<p>一 特會時間：</p>

<div align="center">
	<table class="table table-bordered table-striped">
        <tbody>
          <tr>
          	<td width="197" colspan="2">
          		<p align="center">二月二十一日（週六）</p>
            </td>            <td width="197" colspan="2">
              <p align="center">二月二十二日（主日）</p>
            </td>          </tr>
          <tr>            <td width="96">
              <p align="center">11:30</p>
            </td>
            <td width="101">
              <p align="center">入場</p>
            </td>
            <td width="99">
              <p align="center">08:00</p>
            </td>
            <td width="98">
              <p align="center">入場</p>
            </td>
          </tr>
          <tr>
            <td width="96">
              <p align="center">12:30～14:00</p>
            </td>
            <td width="101">
              <p align="center">第一堂聚會</p>
            </td>
            <td width="99">
              <p align="center">09:00～10:30</p>
            </td>
            <td width="98">
              <p align="center">第四堂聚會</p>
            </td>
          </tr>
          <tr>
            <td width="96">
              <p align="center">14:00～14:30</p>
            </td>
            <td width="101">
              <p align="center">展覽</p>
            </td>
            <td width="99">
              <p align="center">10:30～11:00</p>
            </td>
            <td width="98">
              <p align="center">主日擘餅</p>
            </td>
          </tr>
          <tr>
            <td width="96">
              <p align="center">14:30～16:00</p>
            </td>
            <td width="101">
              <p align="center">第二堂聚會</p>
            </td>
            <td width="99">
              <p align="center">11:00～12:30</p>
            </td>
            <td width="98">
              <p align="center">第五堂聚會</p>
            </td>
          </tr>
          <tr>
            <td width="96">
              <p align="center">16:00～16:30</p>
            </td>
            <td width="101">
              <p align="center">展覽</p>
            </td>
            <td width="197" colspan="2" rowspan="2">
              <p align="center">註：本次大會因場地限制，
              <br />禁止兒童入場。</p>
            </td>
          </tr>
          <tr>
            <td width="96">
              <p align="center">16:30～18:00</p>
            </td>
            <td width="101">
              <p align="center">第三堂聚會</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

<p>二 特會地點：</p><p style="margin-left:20px;">南港展覽館（臺北市南港區經貿二路1號）。</p>

<p>三 報名方式：</p><p style="margin-left:20px;">本次特會需憑票入場，按區域入座，請各地召會務必確實掌握參加人位，並於十二月十四日(主日)之前完成報名。所有報名均需於『召會生活人數統計系統』網站（<a href="http://www.chlife-stat.org/">http://www.chlife-stat.org</a>）上進行，若有任何問題，請來信<a href="mailto:icsc2015.org@gmail.com">icsc2015.org@gmail.com</a>。</p>

<p>四 為此次大會之各項服事花費，每人須擔負新台幣100元，以召會為單位彙集。</p>
<div style="margin-left:20px;">
<p>奉獻款可於線上支付<a href="http://www.icsc2015.org/">http://www.icsc2015.org/</a>或匯至以下銀行與帳號：</p>
<p>銀行：華南商業銀行 世貿分行</p>
<p>地址：台北市信義區信義路四段458號</p>
<p>帳號：156-20-030409-1</p>
<p>戶名：財團法人台北市教會聚會所</p>
<p>地址：台北市信義區信義路四段460號5樓之1</p>
<p>電話：02-2757-5758</p>
<p>傳真：02-2757-5750</p>
</div>
<p>五 接待預備：</p><p style="margin-left:20px;">本次大會海外聖徒接待分為三個階段：</p><p style="margin-left:20px;">二月二十至二十三日(四天三夜)由台北市及新北市召會接待；召會訪問行程分為兩梯次：</p><p style="margin-left:20px;">第一梯為二月十七日至二十日(四天三夜)</p><p style="margin-left:20px;">第二梯為二月二十三日至二十六日(四天三夜)由臺灣其他大區眾召會負責接待。</p><p style="margin-left:20px;">由於接待人數眾多，請各地召會為此代禱並先有預備。</p>

<p>六 特會相關最新資訊，請上網查詢，網址為<a href="http://www.icsc2015.org/">http://www.icsc2015.org/</a>。</p>
<br>
<p style="float: right;">臺北市召會負責弟兄們 同啟</p>
<br><br>
<p style="float: right;">主後二○一四年八月廿九日</p><br>
	</div>
</div>
