//Custom CSS
@import "bootstrap-sprockets";
@import "bootstrap";



html {
	overflow-y: scroll;
}
body {
	padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
	resize: vertical;
}
.center {
	text-align: center;
	h1 { 
		margin-bottom: 10px;
	}
}

/* typography */
h1, h2, h3, h4, h5, h6 { line-height: 1;
}

h1 {
	font-size: 3em; 
	letter-spacing: -2px; 
	margin-bottom: 30px; 
	text-align: center;
}

h2 {
	font-size: 1.2em; 
	letter-spacing: -1px; 
	margin-bottom: 30px; 
	text-align: center; 
	font-weight: normal; 
	color: $gray-light;
}

p{
	font-size: 1.1em; 
	line-height: 1.7em;
}

/* header */
#logo {
	float: left;
	margin-right: 10px; 
	text-transform: uppercase; 
	letter-spacing: -1px; 
	padding-top: 9px; 
	font-weight: bold;
  margin-top: 10px;
  font-size: 35px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

footer {
  margin-top: 30px;
  padding-top: 10px;

  border-top: 1px solid #eaeaea;
  color: $gray-light;
  font-size: 16px;

 	ul {
  	float: right;
  	list-style: none;
  	li {
  		float: left;
  		margin-left: 15px;
      a {
        color: #555;
        // font-size: 16px;
        &:hover {
          color: #222;
          text-decoration: none;
        }
      }
		}
	}
}

/* home banner style */
.home-banner {
	width: 100%;
	margin-bottom: 30px;
}

.home-schedule-more {
	font-size: 20px;
}

// home table th, td text-align center
#meetings-info tbody tr {
	th, td {
		text-align: center;
		vertical-align: middle;
		font-size: 20px;
		height: 70px;
	}
}

/* navbar font*/
nav div ul li a {
  margin-top: 5px;
  font-size: 20px;
}

button.clean-gray {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 100%;
  height: 200px;

  &:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
  }

  &:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  }
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Registration tips*/
.registration-tips, .home-announcement {
  margin-top: 10px;
  font-size: 30px;
}

/* Registration notes*/
ol.registration-notes li {
  font-size: 25px;
  margin-top: 20px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
  position: absolute;
  margin-left: 8px;
  font-family: 'Glyphicons Halflings';
  font-weight: normal;
  font-size: 14px;
}

/*Create an user errors*/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*alert alert-success alert-danger*/
.alert, .alert-success, .alert-danger {
    margin-top: 10px;
} 

/* Login Panel*/
#login-panel, #forget-password-panel, #reset-password-panel, #single-application-form, #single-application-panel, #group-application-panel {
  margin-top: 50px;
}

/* panel heading*/
.panel-heading {
  font-size: 20px;
  font-weight: bold;
}

/*forgot password*/
.forgot-password, .not-registered {
  font-weight: bold;
  float: right;
}

.application-navabar .button-group .btn {
  height: 100px;
  font-weight: bold;
  font-size: 40px;
}

#applications-divider {
  border-right: 1px solid #D8D8D8;
  height: 300px;
  margin-top: 10px;
}

.table th, td {
  text-align: center;
}

#donations, #members {
  margin-top: 20px;
}