// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-custom {
  background-color: #ccdefa;
  border-color: #aecaf7;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fafcff), to(#ccdefa));
  background-image: -webkit-linear-gradient(top, #fafcff, 0%, #ccdefa, 100%);
  background-image: -moz-linear-gradient(top, #fafcff 0%, #ccdefa 100%);
  background-image: linear-gradient(to bottom, #fafcff 0%, #ccdefa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafcff', endColorstr='#ffccdefa', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #285c8c;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #1d4264;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #285c8c;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #aecaf7;
}
.navbar-custom .navbar-nav > li > a {
  color: #285c8c;
  border-left: 1px solid #aecaf7;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #1123c4;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #1123c4;
  background-color: #aecaf7;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#aecaf7), to(#dce9fc));
  background-image: -webkit-linear-gradient(top, #aecaf7, 0%, #dce9fc, 100%);
  background-image: -moz-linear-gradient(top, #aecaf7 0%, #dce9fc 100%);
  background-image: linear-gradient(to bottom, #aecaf7 0%, #dce9fc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaecaf7', endColorstr='#ffdce9fc', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #abc9f7;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #1123c4;
  border-bottom-color: #1123c4;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #aecaf7;
  color: #1123c4;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #1123c4;
  border-bottom-color: #1123c4;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #285c8c;
  border-bottom-color: #285c8c;
}
.navbar-custom .navbar-link {
  color: #285c8c;
}
.navbar-custom .navbar-link:hover {
  color: #1123c4;
}