<div class="container">
	<div>
	<h1>報名流程</h1>
</div>
<div class="btn-group btn-group-justified application-navbar" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <%= link_to "1-報名", applications_path, class: "btn btn-primary btn-lg" %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "2-繳費", donations_path, class: "btn btn-warning btn-lg" %>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "3-確認報名資料", members_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
</div>
