<footer class="footer">
  <nav class="pull-left">
    <ul>
      <li>&copy; <%= copyright_notice_year_range() %> <%= link_to "The Church in Taipei, Inc.", 'http://www.churchintaipei.org', class:"footer-font" %></li>
    </ul>
  </nav>
</footer>