<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "2018 ICSC", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-left">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   '#' %></li>
    
      </ul>
    </nav>
  </div>
</header>